.block1 {
    
    width: 100%;
    border-radius: 10px;
    overflow: none;
    height: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}
.block1 > img{
    width: 40%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 40px;
    margin-top: 40px;
}
.blocktitle1{
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-top: 30px;
    font-weight: 500;
}
.smalldivider1{
    width: 30%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4eb3ea;
}
.blockdescreption1{
    color: rgb(113, 113, 113);
}
.web:hover{
    cursor: pointer;
}
.web > img:hover{
    cursor: pointer;
    transform: scale(1.1);
} 

@media screen and (max-width: 767px){
    .CC{
        padding-left: 13%;
        padding-right: 13%;

    }
    .mainContainer1{
       
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 15px;
        margin-bottom: 200px;
        margin-top: 100px;
    }
    
}
@media screen and (min-width: 768px){
    .CC{
        padding-left: 13%;
        padding-right: 13%;

    }
    .mainContainer1{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin-bottom: 200px;
        margin-top: 100px;
    }

}